<h1>Eat That Pizza!</h1>

<div id="devoured-div">
<h2>Pizzas We Already Nommed</h2>

  {{#each pizzas}}
  {{#if this.devoured}}

    <p>
      {{this.id}}. {{this.pizza_name}}

      
    </p>

  {{/if}}
  {{/each}}

</div>

<div id="can-eat-div">
<h2>Pizzas We Can Still Eat</h2>

  {{#each pizzas}}
  {{#unless this.devoured}}

    <p>
      {{this.id}}. {{this.pizza_name}}

      <button data-pizzaid="{{this.id}}" class="devourIt btn btn-danger" type="button" >Devour it!</button>
    </p>

  {{/unless}}
  {{/each}}

</div>


<form class="createPizza">
    <h2>Create a Pizza</h2>

  <div class="form-group">
    <label for="newPizza">New Pizza:</label>
    <input type="text" id="newPizza" name="name">
    <span><button type="submit" id="create-button" class="btn btn-danger">Create Pizza!</button></span>
  </div>

  
</form>
